body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkkhaki !important;
}
img {
  margin-top: 50px;
  align-content: center;
}
h2 {
  text-align: center;
  margin-top: 10px;
  color: #29261e;
  font-weight: bold;
}
.card {
  margin: 20px;
  display: flex;
  box-shadow: 10px 10px 5px grey;
  max-width: 400px;
  text-align: left;
}
.btn {
  text-align: center;
  display: block;
  margin-top: 50px;
}
